/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =============================== add perso =========================== */
a {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  border: 0px solid;
}

@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
html,
body {
  max-width: 1440px;
  height: 2000px;
  margin: 0 auto;
  font-family: "Anton", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none !important;
}

.header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
}
.header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 5%;
  left: 6%;
  cursor: default;
}
.header_title_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.3em;
  font-size: clamp(1em, 2vw, 1.8em);
  color: #ffffff;
}
.header_title_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1em, 1.5vw, 1.4em);
  color: #ffffff;
}
.header_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
  top: 40%;
  left: 25%;
  text-align: center;
}
.header_text_content {
  color: #FFD15B;
  font-size: clamp(0.8em, 3.5vw, 2.8em);
  cursor: default;
}
.header_search-bar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 65%;
  height: 50px;
  position: absolute;
  top: 65%;
  left: 17.5%;
}
.header_search-bar_input {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  font-family: "Roboto", sans-serif;
  padding: 0 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header_search-bar_input::placeholder {
  font-size: clamp(1em, 1vw, 1.2em);
  color: #757575;
}
.header_search-bar_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-right: 5px;
  border-radius: 0 5px 5px 0;
  background: #ffffff;
}
.header_search-bar_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex !important;
  width: 40px;
  height: 40px;
  background: #000000;
  border-radius: 5px;
  font-size: clamp(1.5em, 1.5vw, 1.8em);
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
.header_search-bar_icon:hover {
  color: #000000;
  background: #FFD15B;
}
.header_search-bar_xmark_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding-right: 2%;
  background: #ffffff;
}
.header_search-bar_xmark_icon {
  color: #757575;
}

@media only screen and (max-width: 1360px) {
  .header_text_container {
    width: 70%;
    left: 15%;
  }
}
@media only screen and (max-width: 900px) {
  .header_search-bar_input {
    width: 85%;
  }
  .header_search-bar_xmark_container {
    width: 7%;
  }
}
@media only screen and (max-width: 800px) {
  .header_search-bar_container {
    height: 30px;
    top: 70%;
  }
  .header_search-bar_icon_container {
    padding-right: 0%;
  }
  .header_search-bar_icon {
    width: 30px;
    height: 30px;
    padding-right: 0;
    border-radius: 0 5px 5px 0;
    font-size: clamp(1em, 1.5vw, 1.5em);
  }
  .header_search-bar_xmark_container {
    padding-right: 8%;
  }
  .header_search-bar_xmark_icon {
    font-size: 0.8em;
  }
}
.filters_recipes-counter_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em 5%;
  background: #EDEDED;
}
.filters_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 55%;
}

.btnFilterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  border-radius: 5px;
  background: #ffffff;
  font-family: "roboto", sans-serif;
}
.btnFilterWrapper:nth-child(2) {
  margin: 0 5%;
}
.btnFilterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-size: clamp(0.6em, 1.1vw, 1.3em);
  padding: clamp(0.5em, 1.2vw, 1.4em);
}
.btnFilterText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
.btnFilterDropdown {
  cursor: pointer;
}

.filter_container {
  display: none;
  width: 100%;
  height: 25vh;
  overflow: auto;
  background: #ffffff;
}
.filter_content {
  font-size: clamp(0.6em, 1vw, 1.1em);
  padding: 0.2em 0.2em 0.2em 0;
  padding-left: clamp(0.5em, 1.2vw, 1.4em);
  color: #757575;
  cursor: default;
  background: #ffffff;
}
.filter_content:hover {
  background: #FFD15B;
  padding-left: calc(clamp(0.5em, 1.2vw, 1.4em) + 7%);
  transform: scale(1.2);
}
.filter_search-bar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  min-height: 10px;
  border: 1px solid #EDEDED;
  border-radius: 2px;
  margin: 0 auto 0.5em auto;
}
.filter_search-bar_input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  padding: 0 0.5em;
  color: #C6C6C6;
}
.filter_search-bar_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5%;
  background: #ffffff;
}
.filter_search-bar_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex !important;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  font-size: clamp(0.8em, 1vw, 1em);
  color: #EDEDED;
  cursor: pointer;
}
.filter_search-bar_xmark_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding-right: 2%;
  background: #ffffff;
}
.filter_search-bar_xmark_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EDEDED;
  font-size: 0.8em;
}

.recipes-counter_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  font-size: clamp(0.7em, 1.8vw, 1.7em);
  padding: calc(clamp(0.7em, 1.8vw, 1.7em) - clamp(0.5em, 1.2vw, 1.4em)) 0;
}
.recipes-counter_number {
  width: fit-content;
}
.recipes-counter_text {
  padding-left: 0.3em;
}

@media only screen and (max-width: 900px) {
  .filters_wrapper {
    width: 75%;
  }
  .filter_search-bar_input {
    padding: 0 0.2em;
  }
  .filter_search-bar_xmark_icon {
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 450px) {
  .filters_recipes-counter_wrapper {
    padding: 1em 2%;
  }
  .filters_wrapper {
    width: 75%;
  }
}
.cards_wrapper {
  width: 100%;
  height: 300px;
  background-color: brown;
}

.tags_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0 5%;
  background: #EDEDED;
}
.tags_container {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  border-radius: 5px;
}
.tags_container > :nth-child(3n+2) {
  margin: 0 5%;
}
.tags_container > :nth-child(6n+4), .tags_container > :nth-child(6n+5), .tags_container > :nth-child(6n+6) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tag_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 30%;
  padding: clamp(0.5em, 1.2vw, 1.4em);
  background-color: #FFD15B;
  border-radius: 5px;
}
.tag_text {
  font-family: "roboto", sans-serif;
  font-size: clamp(0.6em, 1.1vw, 1.3em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
.tag_xmark {
  font-size: clamp(0.6em, 1.1vw, 1.3em);
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .tags_container {
    width: 75%;
  }
  .tag_xmark {
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 450px) {
  .tags_wrapper {
    padding: 0 2% 1em 2%;
  }
  .tags_container {
    width: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
