@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype') ;
}


$primary-color: #FFD15B;
$secondary-color: #2C2C2C;
$tertiary-color: #EDEDED; // OC = #C6C6C6; ==> != figma rendering

$header-title-color: #ffffff; 

$search-bar-background-color: #ffffff;
$search-bar-placeholder-color: #757575;