@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype') ;
}


$primary-color: #FFD15B;
$secondary-color: #2C2C2C;
$tertiary-color: #EDEDED; // OC = #C6C6C6; ==> != figma rendering for bg select
$quaternary-color: #C6C6C6;
$header-title-color: #ffffff; 
$search-bar-background-color: #ffffff;
$search-bar-placeholder-color: #757575;
$filter-content: #757575;
$card-content-light: #757575;

$btn-filter_padding: clamp(0.5em, 1.2vw, 1.4em);
$btn-filter_font-size: clamp(0.7em, 1.1vw, 1.3em);

$reciper-counter_font-size: clamp(0.8em, 1.8vw, 1.7em);

$padding-margin-RL_for_select-cards : 5%;

$filter-ingredients-color: #FFD15B;
$filter-appliance-color: #f07407d0;
$filter-ustensils-color: #71a101ad;