.filters {

    //btn + filter list(.filter)
    &_recipes-counter_wrapper {
        display: flex;
        justify-content: space-between;
        padding: 1em $padding-margin-RL_for_select-cards ;
        background: $tertiary-color;
    }

    &_wrapper {
        @include flex_center_row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 55%;
    }
}


.btn {
    &_filter_wrapper {
        @include flex_center_column;
        align-items: flex-start;
        width: 30%;
        border-radius: 5px;
        background: #ffffff;
        font-family: 'roboto', sans-serif;

        &:nth-child(2) {
            margin: 0 $padding-margin-RL_for_select-cards;
        }
    }

    &_filter_container {
        @include flex_center_row_jc_space-between;
        width: 100%;
        font-size: $btn-filter_font-size;
        padding: $btn-filter_padding;

    }

    &_filter_ext {
        @include flex_center_column;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
    }
    
    &_filter_dropdown {
        cursor: pointer;
    }
}


.filter {
    &_container {
        display: none;
        width: 100%;
        height: 25vh;
        overflow: auto;
        background: #ffffff;
    }

    &_content {
        font-size: clamp(0.6em, 1vw, 1.1em);
        padding: 0.2em 0.2em 0.2em 0;
        padding-left: $btn-filter_padding;
        color: $filter-content;
        cursor: default;
        background: #ffffff;

        &:hover {
            background: $primary-color;
            padding-left: calc($btn-filter_padding + 7%);
            transform: scale(1.2)
        }
    }

    &_search-bar {
        
        &_container {
            @include flex_center_row;
            position: sticky;
            top: 0;
            width: 90%;
            min-height: 10px;
            border: 1px solid $tertiary-color;
            border-radius: 2px;
            margin: 0 auto 0.5em auto;
            background: #ffffff
        }

        &_input {
            @include flex_center;
            width: 100%;
            height: fit-content;
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            padding: 0 0.5em;
            color: $quaternary-color;
        }
        
        &_icon_container {
            @include flex_center;
            height: 100%;
            padding: 5%;
            background: #ffffff;
        }
        
        &_icon {
            @include flex_center;
            display: flex !important;
            width: 15px;
            height: 15px;
            border-radius: 5px;
            font-size: clamp(0.8em, 1vw, 1em);
            color: $tertiary-color;
            cursor: pointer;
        }
        
        &_xmark_container {
            @include flex_center;
            width: fit-content;
            height: 100%;
            padding-right: 2%;
            background: $search-bar-background-color;
        }
        
        &_xmark_icon {
            @include flex_center;
            color: $tertiary-color;
            font-size: 0.8em;
        }
    }
}

.recipes-counter {
    &_wrapper {
        @include flex_center_row_jc_space-between;
        align-items: flex-start;
        font-size: $reciper-counter_font-size;
        padding: calc($reciper-counter_font-size - $btn-filter_padding) 0;
    }
    
    &_number {
        width: fit-content;
    }

    &_text {
        padding-left: 0.3em;
    }
}

//// START FOR SELECT
// #selectIngredients,
// #selectKitchenAplliances,
// #selectCookingTools {
//     width: 28%;
//     padding: clamp( 0.5em, 1.2vw, 1.4em);
//     border-radius: 5px;
//     white-space: nowrap;
//     overflow: hidden; 
//     text-overflow: ellipsis;
// }
//// END FOR SELECT




//////////////////////////////////////////////////////////////////////////
///////////////// MEDIA QUERIES /////////////////
/////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: 900px) {

    .filters_wrapper {
        width: 75%;
    }

    .filter {
        &_search-bar {

            &_input {
                padding: 0 0.2em;
            }

            &_xmark_icon {
                font-size: 0.6em;
            }
        }
    }
}

@media only screen and (max-width: 450px) {

    .filters_recipes-counter_wrapper {
        padding: 1em 2%;
    }

    .filters_wrapper {
        width: 75%;
    }
}